@tailwind base;
@tailwind components;
@tailwind utilities;

.boxWidth {
  @apply xl:max-w-[1280px] w-full;
}
.heading2 {
  @apply font-poppins text-green-200 font-semibold xs:text-[48px] text-[40px]  xs:leading-[76.8px] leading-[66.8px] w-full;
}
.paragraph {
  @apply font-poppins font-normal text-gray-200 text-[18px] leading-[30.8];
}
.flexCenter {
  @apply flex justify-center items-start;
}
.paddingX {
  @apply sm:px-16 px-6;
}
.paddingY {
  @apply sm:py-16 py-6;
}
.marginX {
  @apply sm:mx-16 mx-6;
}
.marginY {
  @apply sm:my-16 my-6;
}


.sidebar{
  /* -webkit-animation: bottom-to-top 1s linear;
  animation : bottom-to-top 1s ease-in-out; */
  /* background-color: rgb(226, 0, 0); */
  transition : visibility 4s ease-in-out , opacity 6s ease-in-out;
  animation: right-to-left 5s ease-in-out;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  background-attachment: fixed;
}
.sidebar-open{
  opacity : 100%;
  transform: translateX(-100px);
}
.sidebar-close{
  transform: translateX(1000px);
  opacity: 0%;
}



@keyframes right-to-left {
  0% {
    transform: translateX(1000px);
    /* opacity: 0; */
  }
  6.66%, 26.64% {
    transform: translateX(0px);
    /* opacity: 1; */
  }
  33.30%, 100% {
    transform: translateX(1000px);
    /* opacity: 0; */
  }
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}